<nav class="navbar-outer-container" role="navigation">
  <div class="title-container">
    <h2 class="title">Recipe Calories</h2>
  </div>
  
  <div class="navbar-container">
    <div class="navbar-left"></div>
    <div class="navbar-center">
    <ul class="navbar-list">
      <a id="navbar-search" href="/foods"><li>Search Recipes</li></a>
      <a id="navbar-item" href="/foods/recipes"><li>Saved Recipes</li></a>
      <a id="navbar-item" href="/users/profile"><li>Profile</li></a>
      <a id="navbar-item" href="/users/logout"><li>Logout</li></a>
    </ul>
  </div>
    <div class="navbar-right"></div>
  </div>
</nav>
  